<div class="control-tabs content-tabs tabs-flush" data-control="tab">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#comrades">Сотрудники</a></li>
        <li><a href="#roles">Роли</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <?= $this->listRender('comrades') ?>
        </div>
        <div class="tab-pane">
            <?= $this->listRender('roles') ?>
        </div>
    </div>
</div>