<?php if ($record->status == $record::STATUS_DRAFT): ?>
    <span class="text-muted">
        <i>
            <?= $record->current_status ?>
        </i>
    </span>
<?php elseif($record->status == $record::STATUS_PUBLISHED): ?>
    <span class="text-success">
        <?= $record->current_status ?>
    </span>
<?php endif; ?>