<div class="list-header">
    <h3>Статистика раздела</h3>
</div>
<div class="scoreboard" style="padding-bottom: 20px;">
    <div class="scoreboard-item">
        <div
            class="control-chart"
            data-control="chart-bar"
            data-height="90">
            <ul>
                <li data-color="#95b753">
                    <?= e(trans('dmtttvn.orion::lang.news.statistics.published')) ?> <span><?= $newsPublished ?></span>
                </li>
                <li data-color="#cc3300">
                    <?= e(trans('dmtttvn.orion::lang.news.statistics.important')) ?> <span><?= $newsImportant ?></span>
                </li>
                <li data-color="#e5a91a">
                    <?= e(trans('dmtttvn.orion::lang.news.statistics.drafts')) ?> <span><?= $newsDrafts ?></span>
                </li>
                <li data-color="#ccc">
                    <?= e(trans('dmtttvn.orion::lang.news.statistics.total')) ?> <span><?= $newsTotal ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="scoreboard-item">
        <div class="title-value text-center">
            <h4><?= e(trans('dmtttvn.orion::lang.news.statistics.current_month')) ?></h4>
            <p class="
                <?php if ($newsCurrentMonth > $newsLastMonth): ?>
                    positive
                <?php elseif ($newsCurrentMonth < $newsLastMonth): ?>
                    negative
                <?php endif; ?>
                ">
                <span><?= $newsCurrentMonth ?></span>
            </p>
            <p class="description">
                <?= e(trans('dmtttvn.orion::lang.news.statistics.last_month')) ?>: <span><?= $newsLastMonth ?></span>
            </p>
        </div>
    </div>
</div>

<hr style="width: 100%; color: black; height: 1px; background-color: #ddd;" />