<?php if ($record->title): ?>
    <p>
        <strong>
            <?= $record->title ?>
        </strong>
    </p>
<?php endif; ?>
<?php if ($record->type == $record::TYPE_TEXT): ?>
    <p>
        <?= str_limit($record['data']['content'], 400) ?>
    </p>
<?php endif; ?>
<?php if ($record->type == $record::TYPE_GALLERY): ?>
    <p>
        <strong>
            <?= e(trans('dmtttvn.orion::lang.attachments.type')) ?>:
        </strong>
        <?= $record->getAttachmentTypeOptions()[$record['data']['attachment_type']] ?>
    </p>
    <?php if ($record['data']['attachment_type'] == $record::ATTACHMENT_IMAGE): ?>
        <?php foreach($record->images as $image): ?>
            <img src="<?= $image->getThumb(null, 100, ['mode' => 'portrait']); ?>">
        <?php endforeach; ?>
    <?php endif; ?>

<?php endif; ?>