<?php
    $uriPrefix = $formModel->exists
        ? 'dmtttvn/orion/projects/update/'.$formModel->id
        : 'dmtttvn/orion/projects/create';
?>
<div class="callout callout-warning no-subheader">
    <div class="header">
        <i class="icon-exchange"></i>
        <h3><?= e(trans('dmtttvn.orion::lang.projects.fields.format.change')) ?></h3>
    </div>
    <div class="content">
        <ul>
            <?php if($this->formGetContext() === 'simple'): ?>
                <li>
                    <strong>
                        <?= e(trans('dmtttvn.orion::lang.projects.fields.format.simple')) ?>
                    </strong>
                </li>
                <li>
                    <a href="<?= Backend::url($uriPrefix.'/complex') ?>">
                        <?= e(trans('dmtttvn.orion::lang.projects.fields.format.complex')) ?>
                    </a>
                </li>
            <?php else: ?>
                <li>
                    <a href="<?= Backend::url($uriPrefix.'/simple') ?>">
                        <?= e(trans('dmtttvn.orion::lang.projects.fields.format.simple')) ?>
                    </a>
                </li>
                <li>
                    <strong>
                        <?= e(trans('dmtttvn.orion::lang.projects.fields.format.complex')) ?>
                    </strong>
                </li>
            <?php endif; ?>
        </ul>
    </div>
</div>