<div class="list-header">
    <h3><?= e(trans('dmtttvn.orion::lang.projects.statistics.label')) ?></h3>
</div>
<div class="scoreboard" style="padding-bottom: 20px;">
    <div class="scoreboard-item">
        <div
            class="control-chart"
            data-control="chart-bar"
            data-height="90">
            <ul>
                <li data-color="#95b753">
                    <?= e(trans('dmtttvn.orion::lang.projects.statistics.published')) ?>
                    <span><?= $projectsPublished ?></span>
                </li>
                <li data-color="#cc3300">
                    <?= e(trans('dmtttvn.orion::lang.projects.statistics.complex')) ?>
                    <span><?= $projectsComplex ?></span>
                </li>
                <li data-color="#e5a91a">
                    <?= e(trans('dmtttvn.orion::lang.projects.statistics.drafts')) ?>
                    <span><?= $projectsDrafts ?></span>
                </li>
                <li data-color="#ccc">
                    <?= e(trans('dmtttvn.orion::lang.projects.statistics.total')) ?>
                    <span><?= $projectsTotal ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="scoreboard-item">
        <div class="title-value text-center">
            <h4><?= e(trans('dmtttvn.orion::lang.projects.statistics.current_month')) ?></h4>
            <p class="
                <?php if ($projectsCurrentMonth > $projectsLastMonth): ?>
                    positive
                <?php elseif ($projectsCurrentMonth < $projectsLastMonth): ?>
                    negative
                <?php endif; ?>
                ">
                <span><?= $projectsCurrentMonth ?></span>
            </p>
            <p class="description">
                <?= e(trans('dmtttvn.orion::lang.projects.statistics.last_month')) ?>:
                <span><?= $projectsLastMonth ?></span>
            </p>
        </div>
    </div>
</div>

<hr style="width: 100%; color: black; height: 1px; background-color: #ddd;" />