<div data-control="toolbar">
    <div class="btn-group">
        <a 
            href="<?= Backend::url('dmtttvn/orion/projects/create/simple') ?>"
            class="btn btn-link oc-icon-plus">
            <?= e(trans('backend::lang.form.create')) ?>
            <?= mb_strtolower(e(trans('dmtttvn.orion::lang.projects.fields.format.simple'))) ?>
            <?= mb_strtolower(e(trans('dmtttvn.orion::lang.projects.titles.record'))) ?>
        </a>
        <a 
            href="<?= Backend::url('dmtttvn/orion/projects/create/complex') ?>"
            class="btn btn-link oc-icon-plus">
            <?= e(trans('backend::lang.form.create')) ?>
            <?= mb_strtolower(e(trans('dmtttvn.orion::lang.projects.fields.format.complex'))) ?>
            <?= mb_strtolower(e(trans('dmtttvn.orion::lang.projects.titles.record'))) ?>
        </a>
        <button
            class="btn btn-warning oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checkedProjects: $('.control-list').listWidget('getChecked')
            })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
            <?= e(trans('backend::lang.list.delete_selected')) ?>
        </button>
    </div>
</div>
