<?php Block::put('breadcrumb') ?>
    <ul>
        <li>
            <a href="<?= Backend::url('dmtttvn/orion/projects') ?>">
                <?= e(trans('dmtttvn.orion::lang.projects.titles.list')) ?>
            </a>
        </li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<!-- Primary content -->
<?php Block::put('form-contents') ?>
    <div class="layout-row">
        <?= $this->formRenderOutsideFields() ?>
        <?= $this->formRenderPrimaryTabs() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0"
                data-hotkey="ctrl+s, cmd+s"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                class="btn btn-primary">
                <?= e(trans('backend::lang.form.save')) ?>
            </button>
            <button
                type="button"
                data-request="onSave"
                data-request-data="close:1"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                class="btn btn-default">
                <?= e(trans('backend::lang.form.save_and_close')) ?>
            </button>
            <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
            </button>

            <span class="btn-text">
                <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('dmtttvn/orion/projects') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
            </span>
        </div>
    </div>
<?php Block::endPut() ?>

<!-- Complimentary sidebar -->
<?php Block::put('form-sidebar') ?>
    <div class="hide-tabs">
        <?= $this->formRenderSecondaryTabs() ?>
    </div>
<?php Block::endPut() ?>


<?php if (!$this->fatalError): ?>

    <!-- Layout execution -->
    <?php Block::put('body') ?>
        <?= Form::open(['class'=>'layout stretch']) ?>
            <?= $this->makeLayout('form-with-sidebar') ?>
        <?= Form::close() ?>
    <?php Block::endPut() ?>

<?php else: ?>
    <p class="flash-message static error">
        <?= e(trans($this->fatalError)) ?>
    </p>
    <p>
        <a href="<?= Backend::url('dmtttvn/orion/projects') ?>" class="btn btn-default">
            <?= e(trans('backend::lang.form.return_to_list')) ?>
        </a>
    </p>
<?php endif ?>